{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ course.title }}</h1>
    <small>
        {{ course.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in course.categories.all %}
        <a href="{% url 'course_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ course.body | linebreaks }}</p>
    <h3>Course Staff</h3>
        <ul class="staff-list">
            {% for person in course.staff.all %}
                <li>{{ person.status }}: {{ person }}</li>
            {% endfor %}
        </ul>
    <h3>Leave a comment:</h3>
    <form action="/course/{{ course.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}