footer {
    display: flex;
    flex-direction: column;
}

td>a {
    display: block;
}

.header {
    margin-top: 10px;
    align-items: center;
}

.login-pane {
    margin-top: 10%;
}

.row {
    justify-content: space-between;
}