<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>404 Page Not Found</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="col-md-8 offset-md-2" style="margin-top: 100px;">
            <h2>404 - Page not found</h2>
            <hr>
            <p>Sorry, this page is missing or does not exist</p>
            <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Go to start page<a/>
        </div>
    </body>
</html>
