<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>500 Server Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-md-8 offset-md-2" style="margin-top: 100px;">
        <h2>500 - Server error</h2>
        <hr>
        <p>An error has occurred on the server</p>
        <p>Please report an issue</p>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Go to start page<a/>
        <a class="btn btn-secondary" href="https://github.com/pingvine/assign-me-project/issues/new" role="button">Resport issue<a/>
    </div>
</body>
</html>
