{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ category | title }}</h1>
    <hr>
    {% for course in courses %}
    <h2><a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a></h2>
    <small>
        {{ course.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in course.categories.all %}
        <a href="{% url 'course_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ course.body | slice:":400"}}...</p>
    {% endfor %}
</div>
{% endblock %}
    