{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ handin.assignment.title}} : {{ handin.holder }}</h1>
    <hr>
    <small>
        {{ handin.created_on }} | {{ handin.holder }}
    </small>
    <div class="col-md-8">
        <h5>Attached files:</h5>
        <p>{{ handin.attached_files }}</p>
        <br>
    </div>
    <pre><code class={{ file_type }}>{{ file_content }}</code></pre>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}