{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <div class="d-flex header">
        <div class="mr-auto p2">
            <h1>Handins</h1>
        </div>
        <div class="p2">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#new_handin_dialog">New Handin</button>
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Assignment</th>
                <th scope="col">Student</th>
                <th scope="col">Submitted</th>
            </tr>
        </thead>
        <tbody>
            {% for handin in handins %}
                <tr>
                    <th scope="row"><a href="{% url 'handin_detail' handin.pk %}">{{ handin.pk }}</a></th>
                    <td><a href="{% url 'handin_detail' handin.pk %}">{{ handin.assignment.title }}</a></td>
                    <td><a href="{% url 'handin_detail' handin.pk %}">{{ handin.holder }}</a></td>
                    <td><a href="{% url 'handin_detail' handin.pk %}">{{ handin.created_on|date:'d/m - H:m:s' }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "handin_form.html" %}

{% endblock %}