{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <div class="d-flex header">
        <div class="mr-auto p2">
            <h1>Persons</h1>
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col"> Last Name</th>
                <th scope="col" class="d-none d-lg-table-cell">Status</th>
                <th scope="col" class="d-none d-lg-table-cell">Courses</th>
                <th scope="col" class="d-none d-lg-table-cell">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{% url 'person_detail' person.pk %}">{{ person.first_name }}</a></th>
                    <td><a href="{% url 'person_detail' person.pk %}">{{ person.last_name }}</a></td>
                    <td class="d-none d-lg-table-cell">{{ person.status }}</td>
                    <td class="d-none d-lg-table-cell">{{ person.courses.all | join:', ' | truncatewords:'3' }}</td>
                    <td class="d-none d-lg-table-cell">{{ person.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}