{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="col-md-10 offset-md-1">
    <div class="d-flex header">
        <div class="mr-auto p2">
            <h1>Persons</h1>
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Status</th>
                <th scope="col">Courses</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.first_name }}</th>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.status }}</td>
                    <td>{{ person.courses.all | join:', ' | truncatewords:'3' }}</td>
                    <td>{{ person.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}